         /* GAME */
         #game-container {
            max-width: 720px;
            width: 90%;
            margin: 0 auto; /* Center the container horizontally */
            background-color: lightgray;
            padding: 20px;
        }

        #game {
            height: calc(100vh - 60px); /* Adjust height to fit screen minus control height */
            background-color: lightblue;
        }


