body {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('../assets/background.webp'); /* Replace 'path/to/background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
