body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('../assets/DALL·E 2024-04-06 14.17.26 - Create a pixel art image inspired by the uploaded photo, but with changes to the scene of Ullanlinnanmäki during the Wappu celebration. Remove the sta.webp'); /* Replace 'path/to/background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}